<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Messenger App</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">        
    </head>
    <body>
        