<%- include("partials/header")%>

<div class="centered-form">
    <div class="centered-form__box">
         <h1>Messenger App</h1>
         
         <div>
             <% if(error){ %>
                <div class="ui red message"> <%= error %></div>
            <% } %>
             <div style="display: none;" class="ui red message" id="error-notification"></div>
             <form class="ui form" id="authentication" method="POST" >
                <div class="field">
                    <label >User name</label>
                    <div class="ui left icon input">
                        <input type="text" name="username" placeholder="Your username"> 
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label >Password</label>
                    <div class="ui left icon input">
                        <input type="password" name="password" placeholder="password">
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="ui primary basic button big" id="login">Login</div>
                <div class="ui primary basic button big" id="signup">Sign Up</div>
             </form>
            
         </div>       
    </div>
</div>

<script> window.history.pushState("", "", '/'); </script>
<script src="/js/login.js"></script>

<%- include("partials/footer")%>